body {
  font-family: "Roboto", sans-serif;
  color: #212121;
  letter-spacing: 0.03em;
}

/* other */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
  margin: 0px;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

/* just the logo */
.logo-name {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  text-decoration: none;
  color: #000000;
  line-height: 1.19;
}

.logo-name-footer {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  text-decoration: none;
  color: #ffffff;
  line-height: 1.19;
}

.header-style {
  display: flex;
  margin-top: 24px;
  margin-bottom: 11px;
}

.menu,
.menu-list,
.contact-list {
  display: inline-block;
}

.menu-list {
  padding-right: 46px;
}

.menu {
  padding-left: 93px;
}

.contact {
  padding-left: 219px;
}

.contact-list {
  margin-left: 50px;
}

/* rame header */
.frame {
  width: 100%;
  position: absolute;
  height: 0px;
  left: 0px;
  top: 81px;
  border: 1px solid #ececec;
}

/* color elements */
.blue-text {
  color: #2196f3;
}

.white {
  color: #ffffff;
}

/* contact */
.menu {
  font-weight: 500;
  font-size: 14px;
  list-style: none;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.menu-text {
  text-decoration: none;
  color: #212121;
}

.contact {
  font-weight: 500;
  font-size: 14px;
  list-style: none;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contact-text {
  text-decoration: none;
  color: #757575;
}

/* focus */
.menu-text:hover {
  color: #2196f3;
}

.contact-text:hover,
.contact-text:hover svg {
  color: #2196f3;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-list:hover {
  color: #2196f3;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.white:hover {
  color: #2196f3;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* main inscription */
.main-description {
  color: #ffffff;
  line-height: 1.36;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 600px;
  background: #2f303a;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/background-main.jpg");
  background-repeat: no-repeat;
  background-size: 1600px;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container-main {
  width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

.introduction {
  font-family: "Roboto";
  font-weight: 900;
  letter-spacing: 0.06em;
  text-align: center;
  width: 1200px;
  top: 280px;
  font-size: 44px;
  line-height: 60px;
  margin: 0px;
  padding-bottom: 30px;
}

.order-button {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  color: #ffffff;
  line-height: 1.87;
  background-color: #2196f3;
  letter-spacing: 0.06em;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  top: 350px;
  width: 200px;
  left: 500px;
  height: 50px;
}

.section-description {
  display: flex;
  margin: 0px;
  padding: 0px;
  list-style: none;
  justify-content: space-between;
}

.section-note {
  font-weight: 700;
  font-size: 14px;
}

.section-text {
  font-size: 14px;
  color: #757575;
  letter-spacing: 0.03em;
}

.heading-box {
  background: #f5f4fa;
  width: 100%;
  height: 708px;
}

.heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin: 0px;
}

.picture {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin: 0px;
  padding: 0px;
  padding-top: 50px;
  justify-content: space-between;
}

.picture-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin: 0px;
  padding-top: 30px;
  padding-bottom: 10px;
}

.picture-job {
  font-size: 16px;
  line-height: 1.18;
  color: #757575;
  text-align: center;
  margin: 0px;
  padding-bottom: 16px;
}

.what-we-do {
  padding-top: 0px;
}

.list-picture {
  display: inline-block;
  text-align: justify;
  flex-basis: calc(100% / 4);
  position: relative;
}

.heading2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin: 0px;
  padding-bottom: 50px;
}

.picture2 {
  display: flex;
  list-style: none;
  gap: 30px;
  padding: 0px;
  margin: 0px;
  justify-content: space-between;
}

.list-picture2 {
  width: 270px;
  height: 428px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.border-picture {
  width: 270px;
  margin: 0px;
}

/* footer */
.footer {
  font-size: 14px;
  list-style: none;
  line-height: 1.71;
  margin-top: 0px;
  padding: 0px;
  padding-top: 20px;
}

.footer-list {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}

.footer-style {
  padding-top: 60px;
}

.footer-box {
  position: absolute;
  width: 100%;
  height: 252px;
  left: 0px;
  background: #2f303a;
}

.footer li {
  padding-bottom: 9px;
  font-family: "Roboto";
  font-style: normal;
}

/*style button box*/
.buttons {
  display: flex;
  justify-content: center;
  padding: 10px;
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.button-type {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  cursor: pointer;
  background: #f5f4fa;
  text-align: center;
  width: 93px;
  height: 38px;
  left: 639px;
  top: 174px;
  border-radius: 4px;
  border-color: transparent;
  margin-right: 8px;
}

.button-type:hover {
  color: white;
  background: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.buttons-padding {
  padding-bottom: 0px;
}

/* section with photos */
.photo {
  list-style: none;
}

.photo-text {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.photo-description {
  font-size: 16px;
  line-height: 1.87;
  color: #757575;
}

/* photos portfolio */
.section-work {
  max-width: 1200px;
  padding-top: 0px;
}

.photo {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  text-align: center;
  list-style: none;
  margin: 0px;
  padding: 0px;
  padding-top: 50px;
  justify-content: space-between;
}

.list-work {
  border: 1px solid #eeeeee;
  display: inline-block;
  text-align: justify;
}

.border-photo {
  width: 370px;
  margin: 0px;
}

.list-work:hover,
.list-work:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.photo-text,
.photo-description {
  margin: 0px;
}

.photo-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  text-align: start;
  padding-left: 24px;
  padding-top: 20px;
}

.photo-description {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  text-align: start;
  padding-left: 24px;
  padding-bottom: 20px;
}

/* icon */
.icon {
  margin-right: 10px;
  fill: #757575;
}

.contact-list:hover svg {
  fill: #2196f3;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* icon social */
.social {
  list-style: none;
  padding-left: 30px;
}

.social-list {
  display: inline-block;
  margin-right: 10px;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  border-radius: 50%;
}

.social-icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
}

.social-link:hover svg {
  fill: #ffffff;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover {
  background-color: #2196f3;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*icon footer */
.footer-nav {
  float: left;
  padding-right: 70px;
}

.come-list {
  display: inline-block;
  margin-right: 10px;
}

.come-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.come-icon {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

.come {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding-top: 72px;
  margin-bottom: 20px;
}

.come-link:hover {
  background-color: #2196f3;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* lorem icon */
.icon-lorem {
  width: 70px;
  height: 70px;
}

.icon-box {
  width: 270px;
  min-height: 120px;
  background-color: #f5f4fa;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

/* logo list */
.custumers {
  height: 372px;
}

.title-client {
  margin: 0px;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  padding-bottom: 50px;
}

.client {
  list-style: none;
  display: flex;
  gap: 30px;
  padding-left: 15px;
}

.clients-list {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
}

.logo {
  width: 106px;
  height: 60px;
  fill: #afb1b8;
}

.clients-list:hover svg,
.clients-list:focus svg {
  fill: #2196f3;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list:hover {
  border: 1px solid #2196f3;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* agencja */
.transparency-color {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 370px;
  height: 70px;
  background-color: #2f303acc;
}

.list-picture .transparency-color {
  position: absolute;
  bottom: 2px;
  margin: 0;
}

.active-page::after {
  content: "";
  display: block;
  position: relative;
  width: 100%;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
  top: 23px;
  margin: auto;
}

.title {
  position: relative;
  display: inline-block;
  overflow: hidden;
  border: 1em solid #fff;
  background: #111;
  max-width: 100%;
}

.title img {
  display: block;
  transition: all 0.6s ease-in-out;
  width: 20em;
}

.title:before,
.title:after {
  content: "";
  position: absolute;
  text-align: center;
  transition: all 0.6s ease-in-out;
  width: 100%;
}

/* portfolio transition*/
.list-work {
  position: relative;
  overflow: hidden;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hidden-text {
  position: absolute;
  width: 301px;
  height: 196px;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: #2196f3e5;
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  text-align: start;
}

.hidden:hover .hidden-text {
  transform: translateX(0);
}
.hidden {
  position: relative;
  overflow: hidden;
  width: 370px;
  height: 294px;
}

.hidden-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-right: 45px;
  padding-left: 24px;
  margin: 0;
}

/* modal */
.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #00000033;
  transition: opacity 500ms ease-in-out, visibility 500ms ease-in-out;
}

.modal {
  display: flex;
  position: absolute;
  width: 528px;
  height: 581px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.button-close {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.cls {
  position: fixed;
  fill: #000000;
  width: 11px;
  height: 11px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
