body {
  font-family: "Roboto", sans-serif;
  color: #212121;
  letter-spacing: 0.03em;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* Header Studio and Protfolio */

.header {
  border-bottom: 1px solid #ececec;
  width: 100%;
}

.header__display {
  margin-top: 24px;
  margin-bottom: 25px;
  display: flex;
}

.header__logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  text-decoration: none;
  color: #000000;
  line-height: 1.19;
}

.header--color-logo {
  color: #2196f3;
}

.menu {
  font-weight: 500;
  font-size: 14px;
  list-style: none;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-left: 93px;
  margin-top: 8px;
  margin-bottom: 0px;
}

.menu__list {
  padding-right: 46px;
}

.menu--active-page::after {
  content: "";
  display: block;
  position: relative;
  width: 100%;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
  top: 26px;
  margin: auto;
}

.menu__text {
  text-decoration: none;
  color: #212121;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu .menu__text:hover,
.menu .menu__text:focus {
  color: #2196f3;
}

.backlight {
  color: #2196f3;
}

.menu,
.menu__list,
.contact__list {
  display: inline-block;
}

.contact {
  font-weight: 500;
  font-size: 14px;
  list-style: none;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-left: 219px;
  margin-top: 8px;
  margin-bottom: 0px;
}

.contact__list {
  margin-left: 50px;
}

.contact__list:hover svg {
  fill: #2196f3;
}

.contact__text {
  text-decoration: none;
  color: #757575;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact .contact__text:hover,
.contact .contact__text:focus {
  color: #2196f3;
}

.contact__icon {
  margin-right: 10px;
  fill: #757575;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Section with a button in Studio*/

.first-section {
  color: #ffffff;
  line-height: 1.36;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 600px;
  background: #2f303a;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/background-main.jpg");
  background-repeat: no-repeat;
  background-size: 1600px;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.first-section__position {
  width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

.first-section__introduction {
  font-family: "Roboto";
  font-weight: 900;
  letter-spacing: 0.06em;
  text-align: center;
  width: 1200px;
  top: 280px;
  font-size: 44px;
  line-height: 60px;
  margin: 0px;
  padding-bottom: 30px;
}

.first-section__button {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  color: #ffffff;
  line-height: 1.87;
  background-color: #2196f3;
  letter-spacing: 0.06em;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  top: 350px;
  width: 200px;
  left: 500px;
  height: 50px;
}

/* Section with text in Studio */

.second-section {
  display: flex;
  margin: 0px;
  padding: 0px;
  list-style: none;
  justify-content: space-between;
}

.second-section__icon-box {
  width: 270px;
  min-height: 120px;
  background-color: #f5f4fa;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.second-section__introducing {
  font-weight: 700;
  font-size: 14px;
}

.second-section__text {
  font-size: 14px;
  color: #757575;
  letter-spacing: 0.03em;
}

.list-picture {
  display: inline-block;
  text-align: justify;
  flex-basis: calc(100% / 4);
  position: relative;
}
/* Photo section in Studio */

.third-section {
  padding-top: 0px;
}

.third-section__main-position {
  padding-top: 0px;
  position: relative;
}

.third-section__heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin: 0px;
}

.third-section__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin: 0px;
  padding: 0px;
  padding-top: 50px;
  justify-content: space-between;
}

.third-section__position {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 370px;
  height: 70px;
  background-color: #2f303acc;
}

.third-section__list .third-section__position {
  position: absolute;
  bottom: 2px;
  margin: 0;
}

/* Section with photos of our team in Studio */

.fourth-section {
  background: #f5f4fa;
  width: 100%;
  height: 708px;
}

.fourth-section__heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin: 0px;
  padding-bottom: 50px;
}

.fourth-section__list {
  display: flex;
  list-style: none;
  gap: 30px;
  padding: 0px;
  margin: 0px;
  justify-content: space-between;
}

.fourth-section__box-picture {
  width: 270px;
  height: 428px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.fourth-section__arrangement {
  width: 270px;
  margin: 0px;
}

.fourth-section__picture-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin: 0px;
  padding-top: 30px;
  padding-bottom: 10px;
}

.fourth-section__picture-job {
  font-size: 16px;
  line-height: 1.18;
  color: #757575;
  text-align: center;
  margin: 0px;
  padding-bottom: 16px;
}

/* Icon fourth section */

.social {
  list-style: none;
  padding-left: 0;
  display: flex;
  justify-content: space-between;
  margin-left: 32px;
  margin-right: 32px;
}

.social-list {
  display: inline-block;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  border-radius: 50%;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover svg {
  fill: #ffffff;
}

.social-link:hover {
  background-color: #2196f3;
}

.social-icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Department with our clients' logos in Studio */

.fifth-section__title {
  margin: 0px;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  padding-bottom: 50px;
}

.fifth-section__list {
  list-style: none;
  display: flex;
  gap: 30px;
  padding-left: 15px;
}

.fifth-section__client {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.fifth-section__client:hover svg,
.fifth-section__client:focus svg {
  fill: #2196f3;
}

.fifth-section__client:hover {
  border: 1px solid #2196f3;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.fifth-section__container {
  width: 106px;
  height: 60px;
  fill: #afb1b8;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Footer Studio and Protfolio */
.footer {
  position: absolute;
  width: 100%;
  height: 252px;
  left: 0px;
  background: #2f303a;
}

.footer__nav {
  float: left;
  padding-right: 70px;
}

.footer__style {
  padding-top: 60px;
}

.footer__logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  text-decoration: none;
  color: #ffffff;
  line-height: 1.19;
}

.footer--color-logo {
  color: #2196f3;
}

.footer__list {
  font-size: 14px;
  list-style: none;
  line-height: 1.71;
  margin-top: 0px;
  padding: 0px;
  padding-top: 20px;
}

.footer__contact {
  font-family: "Roboto";
  font-style: normal;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer--padding {
  padding-bottom: 9px;
}

.footer .footer__contact:hover,
.footer .footer__contact:focus {
  color: #2196f3;
}

.footer--color-city {
  color: #ffffff;
}

/* Icon footer */

.icon-footer {
  position: relative;
  float: left;
  padding-right: 78px;
}

.icon-footer__heading {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-top: 0px;
  padding-top: 72px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.icon-footer__social {
  list-style: none;
  padding: 0px;
  display: flex;
  justify-content: stretch;
}

.icon-footer__list {
  display: inline-block;
  margin-right: 10px;
}

.icon-footer__come-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-footer__come-link:hover {
  background-color: #2196f3;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-footer__come-icon {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

/* Section-newsletter */

.section-newsletter {
  padding-top: 72px;
  float: left;
}

.section-newsletter__sing-up {
  position: absolute;
  color: #ffffff;
  margin: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.section-newsletter__style {
  display: flex;
  flex-direction: row;
  padding-top: 16px;
}

.section-newsletter__button {
  width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  margin-top: 20px;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  justify-content: space-between;
  padding-left: 42px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.section-newsletter__icon {
  fill: #ffffff;
  width: 24px;
  height: 24px;
  margin-right: 28px;
}

.section-newsletter__box {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  border-color: #ffffff4d;
  background-color: #2196f300;
  color: #2196f300;
  padding-left: 16px;
  margin-right: 12px;
  margin-top: 20px;
}

.section-newsletter--text-visible::placeholder {
  color: #75757580;
}

/* Modal window */

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #00000033;
  transition: opacity 500ms ease-in-out, visibility 500ms ease-in-out;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop__modal {
  display: flex;
  position: absolute;
  width: 528px;
  height: 581px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.backdrop__button-close {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop__button-close:hover,
.backdrop__button-close:hover svg {
  border-color: #2196f3;
  fill: #2196f3;
}

.backdrop__icon-close {
  position: fixed;
  fill: #000000;
  width: 11px;
  height: 11px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Form */

.form {
  padding: 40px;
}

.form__heading {
  width: 448px;
  height: 23px;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-top: 0px;
  margin-bottom: 12px;
}

.form__label {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
  position: relative;
  width: 24px;
  height: 14px;
}

.form__input {
  margin-top: 3px;
  margin-bottom: 8px;
  width: 448px;
  height: 40px;
  align-items: center;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input:hover,
.form__input:focus,
.form__input:active {
  border: #2196f3 1px solid;
  box-shadow: none;
  outline: none;
}

.form__icon {
  fill: #212121;
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-80%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input:focus ~ .form__icon {
  fill: #2196f3;
}

.form__label:hover > .form__icon,
.form__label:focus > .form__icon {
  fill: #2196f3;
}

.form__comment {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 448px;
  height: 120px;
  resize: none;
  padding-left: 16px;
  padding-top: 12px;
  padding-right: 16px;
  padding-bottom: 12px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-top: 3px;
  margin-bottom: 20px;
}

.form__comment--text-visible::placeholder {
  color: #75757580;
}

.form__comment:hover,
.form__comment:focus,
.form__comment:active {
  border: #2196f3 1px solid;
  box-shadow: none;
  outline: none;
}

/* Checkmark */

.form__label-check {
  margin-left: 11px;
}

.form__label-check input:checked ~ .accept-icon {
  background-color: #2196f3;
}

.form__checkbox:checked ~ .form__checkmark-icon {
  background-color: white;
  border: 1px solid #212121;
  border-radius: 2px;
}

.form__checkmark-icon {
  cursor: pointer;
  width: 16px;
  height: 15px;
  margin-right: 8px;
  background-color: #2196f3;
  padding-left: 1px;
  padding-top: 1px;
  border: 1px solid #212121;
  border-radius: 2px;
  border-color: transparent;
}

.form__check-icon {
  position: absolute;
  bottom: 118px;
  left: 56px;
  z-index: 999;
  fill: #ffffff;
  cursor: pointer;
}

.form__checkbox {
  opacity: 0;
  height: 0;
  width: 0;
}

.form_accept {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}

.form_accept--backlight {
  color: #2196f3;
}

/* Button - modal */

.form__button-arrangement {
  padding-top: 20px;
  text-align: center;
}

.form__button {
  display: inline-block;
  margin: 0 auto;
  width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.form__button--backlight {
  background-color: #2196f3;
}

/* Button box in Portfolio */

.buttons {
  padding-bottom: 0px;
}

.buttons__hand {
  display: flex;
  justify-content: center;
  padding: 10px;
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.button__type {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  cursor: pointer;
  background: #f5f4fa;
  text-align: center;
  width: 93px;
  height: 38px;
  left: 639px;
  top: 174px;
  border-radius: 4px;
  border-color: transparent;
  margin-right: 8px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button__type:hover {
  color: white;
  background: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Section with photos in Portfolio */

.app {
  max-width: 1200px;
  padding-top: 0px;
}

.app__arrangement {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  text-align: center;
  list-style: none;
  margin: 0px;
  padding: 0px;
  padding-top: 50px;
  justify-content: space-between;
}

.app__list {
  border: 1px solid #eeeeee;
  display: inline-block;
  text-align: justify;
}

.app__list:hover,
.app__list:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.app__border {
  width: 370px;
  margin: 0px;
}

.app__hidden {
  position: relative;
  overflow: hidden;
  width: 370px;
  height: 294px;
}

.app__hidden:hover .app__text-hide {
  transform: translateX(0);
}

.app__text-hide {
  position: absolute;
  width: 301px;
  height: 196px;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: #2196f3e5;
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  text-align: start;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-right: 45px;
  padding-left: 24px;
  margin: 0;
}

.app__photo-text {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin: 0px;
  line-height: 36px;
  text-align: start;
  padding-left: 24px;
  padding-top: 20px;
  color: #212121;
}

.app__photo-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  text-align: start;
  padding-left: 24px;
  padding-bottom: 20px;
  line-height: 1.87;
  color: #757575;
  margin: 0px;
}
