.footer {
  position: absolute;
  width: 100%;
  height: 252px;
  left: 0px;
  background: $BrandColorSecond;

  top: 5000px;
  &__nav {
    float: left;
    padding-right: 70px;
  }
  &__style {
    padding-top: 60px;
  }
  &__logo {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    text-decoration: none;
    color: $MainColorSecond;
    line-height: 1.19;
  }
  &--color-logo {
    color: $BrandColorFirst;
  }
  &__list {
    font-size: 14px;
    list-style: none;
    line-height: 1.71;
    margin-top: 0px;
    padding: 0px;
    padding-top: 20px;
  }
  &__contact {
    font-family: "Roboto";
    font-style: normal;
    text-decoration: none;
    color: $BrandColorFifth;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &--padding {
    padding-bottom: 9px;
  }
  & &__contact:hover,
  & &__contact:focus {
    color: $BrandColorFirst;
  }
  &--color-city {
    color: $MainColorSecond;
  }
}
