.form {
  min-width: 320px;
  padding-top: 40px;

  &__heading {
    text-align: center;
    width: 320px;
    height: 23px;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.03em;
    color: $MainColorFirst;
    margin-bottom: 4px;
    margin-top: 0px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
  }
  &__label {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: $BrandColorThird;
    position: relative;
    width: 24px;
    height: 14px;
  }
  &__input {
    margin-top: 3px;
    margin-bottom: 8px;
    min-width: 320px;
    max-width: 448px;
    width: 100%;
    height: 40px;
    align-items: center;
    padding-left: 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__input:hover,
  &__input:focus,
  &__input:active {
    border: $BrandColorFirst 1px solid;
    box-shadow: none;
    outline: none;
  }
  &__icon {
    fill: $MainColorFirst;
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-80%);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__input:focus ~ &__icon {
    fill: $BrandColorFirst;
  }
  &__label:hover > &__icon,
  &__label:focus > &__icon {
    fill: $BrandColorFirst;
  }
  &__comment {
    min-width: 320px;
    max-width: 448px;
    width: 100%;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    height: 120px;
    resize: none;
    padding-left: 16px;
    padding-top: 12px;
    padding-right: 16px;
    padding-bottom: 12px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-top: 3px;
    margin-bottom: 10px;
  }
  &__comment--text-visible::placeholder {
    color: #75757580;
  }
  &__comment:hover,
  &__comment:focus,
  &__comment:active {
    border: $BrandColorFirst 1px solid;
    box-shadow: none;
    outline: none;
  }
  &__label-check {
    margin-left: 11px;
  }
  &__label-check input:checked ~ .accept-icon {
    background-color: $BrandColorFirst;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__checkbox:checked ~ &__checkmark-icon {
    background-color: $BrandColorFirst;
    border-radius: 2px;
    border-color: transparent;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__checkmark-icon {
    cursor: pointer;
    width: 16px;
    height: 15px;
    margin-right: 8px;
    background-color: $MainColorSecond;
    border-radius: 2px;
    padding-left: 1px;
    padding-top: 1px;
    border: 1px solid $MainColorFirst;
  }
  &__check-icon {
    position: absolute;
    bottom: 118px;
    left: 56px;
    z-index: 999;
    fill: $MainColorSecond;
    cursor: pointer;
  }
  &__checkbox {
    opacity: 0;
    height: 0;
    width: 0;
  }
  &__accept {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
  }
  &__accept--backlight {
    color: $BrandColorFirst;
  }
  &__button-arrangement {
    padding-top: 10px;
    text-align: center;
  }
  &__button {
    display: inline-block;
    margin: 0 auto;
    width: 200px;
    height: 50px;
    background: $BrandColorFirst;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-color: transparent;
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    align-items: center;
    letter-spacing: 0.06em;
    color: $MainColorSecond;
  }
  &__button--backlight {
    background-color: $BrandColorFirst;
  }
}

@media screen and (min-width: 400px) {
  .form {
    padding-left: 38px;
    padding-right: 38px;
  }
}

@media screen and (min-width: 480px) {
  .form {
    padding: 40px;
  }
}

@media screen and (min-width: 1200px) {
  .form__heading {
    width: 448px;
    height: 35px;
  }
  .form__comment {
    margin-bottom: 20px;
  }
  .form__button-arrangement {
    padding-top: 20px;
  }
}
