.header {
  border-bottom: 1px solid $BrandColorEighth;
  position: relative;
  &__display {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 16px 15px;
    min-width: 320px;
    max-width: 1200px;
  }
  &__logo {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    text-decoration: none;
    color: $MainColorThird;
    line-height: 1.19;
    &--color {
      color: $BrandColorFirst;
    }
  }
  &__flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 100%;
    list-style: none;
  }
  &__menu {
    float: left;
    width: 432px;
    padding: 0px;
    font-weight: 500;
    font-size: 14px;
    list-style: none;
    line-height: 1.14;
    letter-spacing: 0.02em;
    margin-top: 15px;
    margin-bottom: 0px;

    &__list {
      padding-right: 60px;
      flex-direction: row;
      justify-content: flex-start;
      align-items: stretch;
      float: left;
    }
    &--active-page::after {
      content: "";
      display: block;
      position: relative;
      width: 0%;
      height: 4px;
      background: $BrandColorFirst;
      border-radius: 2px;
      top: 26px;
      margin: auto;
    }
    &__text {
      text-decoration: none;
      color: $MainColorFirst;
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    & &__text:hover,
    & &__text:focus {
      color: $BrandColorFirst;
    }
    &--backlight {
      color: $BrandColorFirst;
    }
  }
  &__contact {
    float: left;
    margin-top: 0px;
    font-weight: 500;
    font-size: 14px;
    list-style: none;
    line-height: 1.14;
    padding-left: 0px;
    letter-spacing: 0.02em;
    margin-bottom: 0px;
    margin-left: 0px;
    float: right;
    &__list {
      color: $BrandColorThird;
    }
    &__list:hover svg {
      fill: $BrandColorFirst;
    }
    &__text {
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0.02em;
      text-decoration: none;
      color: $BrandColorThird;
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    & &__text:hover,
    & &__text:focus {
      color: $BrandColorFirst;
    }
    &__icon {
      margin-right: 10px;
      fill: $BrandColorThird;
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
  &__menu,
  &__menu__list,
  &__contact__list {
    display: inline-block;
  }
}

@media screen and (max-width: 768px) {
  .header__container {
    padding: 21px 15px;
    column-gap: 83px;
  }

  .header__flex {
    display: none;
  }

  .header__list {
    flex-wrap: nowrap;
    column-gap: 60px;
  }
}

@media screen and (min-width: 769px) {
  .header__flex {
    display: inline-block;
  }
  .header__menu {
    padding-left: 83px;
  }
  .header__contact {
    display: flex;
    flex-direction: column;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    flex-wrap: wrap;
    row-gap: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .header__logo {
    font-size: 26px;
  }
  .header-display {
    margin-top: 24px;
    margin-bottom: 25px;
  }
  .header__menu,
  .header__contact {
    display: inline-block;
    margin-bottom: 5px;
  }
  .header__contact {
    padding-top: 13px;
  }
  .header__contact__text {
    padding-left: 30px;
  }

  .header__menu--backlight::after {
    content: "";
    display: block;
    position: relative;
    height: 4px;
    background: $BrandColorFirst;
    border-radius: 2px;
    top: 26px;
    margin: auto;
    width: 100%;
  }
}
