.app {
  max-width: 1200px;
  padding-top: 0px;
  &__arrangement {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    text-align: center;
    list-style: none;
    margin: 0px;
    padding: 0px;
    padding-top: 50px;
    justify-content: space-between;
  }
  &__list {
    border: 1px solid $BrandColorTenth;
    display: inline-block;
    text-align: justify;
  }
  &__list:hover,
  &__list:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__border {
    width: 370px;
    margin: 0px;
  }
  &__hidden {
    position: relative;
    overflow: hidden;
    width: 370px;
    height: 294px;
  }
  &__hidden:hover &__text-hide {
    transform: translateX(0);
  }
  &__text-hide {
    position: absolute;
    width: 301px;
    height: 196px;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.03em;
    color: $MainColorSecond;
    background-color: $BrandColorFirst;
    transform: translateY(100%);
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    text-align: start;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-right: 45px;
    padding-left: 24px;
    margin: 0;
  }
  &__photo-text {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin: 0px;
    line-height: 36px;
    text-align: start;
    padding-left: 24px;
    padding-top: 20px;
    color: $MainColorFirst;
  }
  &__photo-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    text-align: start;
    padding-left: 24px;
    padding-bottom: 20px;
    line-height: 1.87;
    color: $BrandColorThird;
    margin: 0px;
  }
}
