.team {
  background: $BrandColorFourth;
  width: 100%;
  height: 708px;
  &__heading {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    margin: 0px;
    padding-bottom: 50px;
  }
  &__list {
    display: flex;
    list-style: none;
    gap: 30px;
    padding: 0px;
    margin: 0px;
    justify-content: space-between;
  }
  &__box-picture {
    width: 270px;
    height: 428px;
    background: $MainColorSecond;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
  &__arrangement {
    width: 270px;
    margin: 0px;
  }
  &__picture-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    margin: 0px;
    padding-top: 30px;
    padding-bottom: 10px;
  }
  &__picture-job {
    font-size: 16px;
    line-height: 1.18;
    color: $BrandColorThird;
    text-align: center;
    margin: 0px;
    padding-bottom: 16px;
  }
  &__social {
    list-style: none;
    padding-left: 0;
    display: flex;
    justify-content: space-between;
    margin-left: 32px;
    margin-right: 32px;
    &-list {
      display: inline-block;
    }
    &-link {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 44px;
      height: 44px;
      background-color: $MainColorSecond;
      border-radius: 50%;
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    &-link:hover svg {
      fill: $MainColorSecond;
    }
    &-link:hover {
      background-color: $BrandColorFirst;
    }
    &-icon {
      width: 20px;
      height: 20px;
      fill: $BrandColorSixth;
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
}
